server/.env
server/node_modules
server/package-lock.json
server/yarn.lock
server/dist
server/logs
server/public/uploads
server/public/uploads/tmp
server/public/uploads/tmp/*
server/public/uploads/tmp/**/*
server/public/uploads/tmp/**/**/*
server/public/uploads/tmp/**/**/**/*
server/public/uploads/tmp/**/**/**/**/*
